on:
  pull_request

env:
  DATABRICKS_HOST: https://adb-3914961046025333.13.azuredatabricks.net

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checks out the repo
        uses: actions/checkout@v2
      # The step below does the following:
      # 1. Sends a POST request to generate an Azure Active Directory token for an Azure service principal
      # 2. Parses the token from the request response and then saves that in as DATABRICKS_TOKEN in the
      # GitHub enviornment.
      # Note: if the API request fails, the request response json will not have an "access_token" field and
      # the DATABRICKS_TOKEN env variable will be empty.
      - name: Generate and save AAD Token
        run: |
          echo "DATABRICKS_TOKEN=$(curl -X POST -H 'Content-Type: application/x-www-form-urlencoded' \
            https://login.microsoftonline.com/d9a38472-71ad-4716-b682-4b2de2733c0a/oauth2/v2.0/token \
            -d 'client_id=474146fa-0afc-496d-906e-c0a3c1710fee' \
            -d 'grant_type=client_credentials' \
            -d 'scope=2ff814a6-3304-4ab8-85cb-cd0e6f879c1d%2F.default' \
            -d 'client_secret=qcV8Q~9-XvGQywEYVuyEXBYJ~yizdReY4K3tmalT' |  jq -r  '.access_token')" >> $GITHUB_ENV
      - name: Trigger test notebook from PR branch
        id: tests
        uses: databricks/run-notebook@v0
        with:
          local-notebook-path: notebooks/tests/test_star_db.py
          # If the current workflow is triggered from a PR,
          # run notebook code from the PR's head commit, otherwise use github.sha.
          git-commit: ${{ github.event.pull_request.head.sha || github.sha }}
          # The cluster JSON below is for Azure Databricks. On AWS and GCP, set
          # node_type_id to an appropriate node type, e.g. "i3.xlarge" for
          # AWS or "n1-highmem-4" for GCP
          new-cluster-json: >
            {
              "num_workers": 1,
              "spark_version": "10.4.x-scala2.12",
              "node_type_id": "Standard_D3_v2"
            }
          # Grant all users view permission on the notebook results
          access-control-list-json: >
            [
              {
                "group_name": "users",
                "permission_level": "CAN_VIEW"
              }
            ]
      - name: Validate tests passed
        run: echo "Number of failed tests: ${{steps.tests.outputs.notebook-output}}"
        if: steps.tests.outputs.notebook-output != '0'
        run: exit 1
